*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-wrap: break-word;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: grey;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 1rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 500px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.74);
  margin-bottom: 1rem;
}

.general,
.education,
.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid transparent;
}

textarea {
  height: 80px;
  resize: none;
}

.cv {
  min-height: 500px;
  width: 600px;
  display: grid;
  background-color: white;
  grid-template-columns: 200px 400px;
}

.cv-details {
  background-color: lightblue;
  padding: 1.5rem;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-details p {
  font-size: 12px;
}
.cv-details h3 {
  font-size: 15px;
  border-bottom: 1px solid blue;
  line-height: 1.3;
}

.cv-name {
  margin-bottom: 1rem;
}

.cv-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cv-body h3 {
  border-bottom: 1px solid blue;
}

.cv-experience,
.cv-education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-experience p {
  padding: 1rem 0;
}

.cv-experience-details,
.cv-education-details {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.cv-experience-details:last-child,
.cv-education-details:last-child {
  border-bottom: none;
}

.date-section {
  font-size: 12px;
}
